#backArrow img {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    width: 24px; /* Set the width */
    height: 24px; /* Set the height */
}

#backArrow {
    position: absolute;
    right: 60px;
    bottom: 8px;
    width: 26px; /* Set the width */
    height: 26px;
    border: none;
    background-color: transparent;
}

main {
    min-height: 85vh;
}

.posted {
    border: 1px solid black;
    margin: 2rem;
    padding: 1rem;
    max-width: 95%;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.blogTitle {
    margin: 0 0 5px 0;
    font-size: large;
}
.horizontalLine {
    border: none;
    height: 2px;
    background-color: #000; 
    margin: 0 0px 10px 0px;
}

.blogContent {
    padding: 10px;
    font-size: 1rem;
}

.author {
    margin: 20px 0 0 0;
    font-size: 0.75rem;
}

footer {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 4.5rem;
    border: none;
    border-top: 5px double #000; 
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}


.footnav {
text-align: left;
line-height: 1.5rem;
font-weight: bold;
}

.blogArea {
    display: block;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 1rem;
}

.blog-card {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1rem;
}

.blog-card h2 {
    padding: 0 0 0.9rem 0;
}

.blog-card p {
    font-size: 0.8rem;
}
.blog-card .content {
    padding: 1rem 0 1rem 1rem;
    font-size: 1rem;
}
