main {
    min-height: 85vh;
}

.posted {
    border: 1px solid black;
    margin: 2rem;
    padding: 1rem;
    max-width: 95%;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.blogTitle {
    margin: 0 0 5px 0;
    font-size: large;
}
.horisontalLine {
    border: none;
    height: 2px;
    background-color: #000; 
    margin: 0 0px 10px 0px;
}

.posted .blogContent {
    padding: 10px;
}

.posted .author {
    margin: 20px 0 0 0;
    font-size: smaller;
}

footer {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 4.5rem;
    border: none;
    border-top: 5px double #000; 
}

footer {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    align-items: center;
  }

.contactinfoot h4 {
    color: #080808;
  }

  .footnav li a {
    color: #32444a;
  }

