* {
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;
    position: relative;
}

header {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 4.5rem;
    border: none;
    border-bottom: 5px double #000; 
    position: relative;
}

.lightMode {
    background-color: #f3f2f1;
    color: black;
}

.darkMode {
    background-color: rgb(39, 38, 38);
    color: #f3f2f1;
}

#sunIcon {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    cursor: pointer;
    font-size: 24px; 
    background-color: transparent;
    border: none;
    display: inline-block;
}

#moonIcon {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    cursor: pointer;
    font-size: 24px; 
    background-color: transparent;
    border: none;
    display: none;
}

.modeToggle {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}
